.container {
	width: 600px;
	text-align: center;
	margin-top: 100px;
}

form {
	width: 100%;
	border: 5px solid #b4b4d0;
	border-style: groove;
}

.input-date {
	width: 100%;
}

.input {
	width: 50%;
	margin: 1px;
	border: 1px solid;
}

.input label {
	width: 25%;
	background-color: #b4b4d0;
	height: 100%;
	border-right: 1px solid black;
	margin-right: 1px;
}

.input input {
	height: 100%;
	border-left: 1px solid black;
}

.submit {
	margin: 30px auto;
}

.submit-type {
	margin: 1px;
	border: 1px solid;
	background-color: #b4b4d0;
}

.year {
	width: 30%;
}

.month {
	width: 20%;
}

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.error {
	display: none;
	margin-bottom: 30px;
}