<div class="manHourInput_month" th:fragment="ManHourInput_Month">
	<div class="row mb-2 align-items-center">
		<div class="col-md-4 input-group">
			<input type="text" class="form-control form-control-sm"
				placeholder="テーマ選択..." aria-label="..."
				aria-describedby="button-addon2" readonly>
			<div class="input-group-append">
				<button type="button" id="button-addon2"
					class="btn btn-sm btn-outline-secondary" data-toggle="modal"
					data-target="#modal1">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<div class="col-md-2 input-group pr-2">
			<select class="form-control form-control-sm" id="selectWorkContentCode"> 
			</select>
		</div>
		<div class="col-md-2 input-group">
			<input type="text" class="form-control form-control-sm"
				placeholder="内容詳細..." aria-label="..."
				aria-describedby="button-addon2">
		</div>
		<div class="col-md-4 pl-0">
			<button class="btn btn-sm btn-outline-secondary mr-2">
				<i class="fas fa-arrow-down"></i> テーマ追加
			</button>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead class="thead-light">
				<tr>
					<th></th>
					<th>テーマNo</th>
					<th>テーマ名</th>
					<th>内容</th>
					<th>月計</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
					<th>19</th>
					<th>20</th>
					<th>21</th>
					<th>22</th>
					<th>23</th>
					<th>24</th>
					<th>25</th>
					<th>26</th>
					<th>27</th>
					<th>28</th>
					<th>29</th>
					<th>30</th>
					<th>31</th>
					<th colspan="2">操作</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>合計</td>
					<td></td>
					<td>86.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td>0.0</td>
					<td>0.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td>7.0</td>
					<td>8.0</td>
					<td>8.0</td>
					<td class="table-info">7.0</td>
					<td>0.0</td>
					<td class="table-danger">0.0</td>
					<td class="table-danger">0.0</td>
					<td>0.0</td>
					<td>0.0</td>
					<td>0.0</td>
					<td>0.0</td>
					<td>0.0</td>
					<td class="table-danger">0.0</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>残工数</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td></td>
					<td></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td>1.0</td>
					<td></td>
					<td></td>
					<td class="table-info">1.0</td>
					<td></td>
					<td class="table-danger"></td>
					<td class="table-danger"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="table-danger"></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				<tr th:each="month: ${HourInput.showManhourInput}">
					<td><div class="text-center">
							<i class="fas fa-thumbtack" style="color: #D3D3D3;">
						</div></td>
					<td th:text="${month.themeNo}"></td>
					<td th:text="${month.themeName1}"></td>
					<td><span th:text="${month.workContentsCode}"></span>:<span
						th:text="${month.workContentsCodeName}"></span></td>
					<td th:text="${month.total}"></td>
					<td><input type="text" th:value="${month.day1}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day2}"
						class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day3}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day4}" class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day5}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day6}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day7}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day8}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day9}"
						class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day10}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day11}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day12}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day13}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day14}" class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day15}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day16}"
						class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day17}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day18}" class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day19}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day20}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day21}"
						class="form-control table-input"></td>
					<td class="table-info"><input type="text"
						th:value="${month.day22}" class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day23}"
						class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day24}" class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day25}" class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day26}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day27}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day28}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day29}"
						class="form-control table-input"></td>
					<td><input type="text" th:value="${month.day30}"
						class="form-control table-input"></td>
					<td class="table-danger"><input type="text"
						th:value="${month.day31}" class="form-control table-input"></td>
					<td><div class="text-center">
							<button class="btn btn-sm" data-toggle="modal"
							data-target="#modal3">
								<i class="fas fa-exchange-alt"></i>
							</button>
						</div></td>
					<td><div class="text-center">
							<i class="far fa-trash-alt"></i>
						</div></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>