<html>
<head>
<title>Spring Boot</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
	width: 1024px;
	padding: 10em;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}
</style>
</head>
<body>
	<div class="container">
		<h1>Table</h1>
		<table class="table table-hover">
			<thead style="background: #f4c7ab;">
				<tr>
					<th>Title</th>
					<th>Content</th>
					<th>Other</th>
				</tr>
			</thead>
			<tbody id="demo_tbody"> 
			</tbody>
		</table>
	</div>
	
	<!-- Edit -->
	<div class="modal fade" id="editModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="example2ModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Edit title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-edit">
						<input name="id" value="" type="hidden" class="id">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="title">
						</div>
					</form>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>

<script>
	$(document).ready(function(){
			$.ajax({
	            url : "api/new",
	            type : "GET",
	            dataType:"json",
	            success : function (result){
	            	console.log(result);
	            	$.each(result.listResult, function(key1, valuelistPage){
	            		var demo_data = ''; 
	            		demo_data += '<tr>';
	            		demo_data += '<td>'+ valuelistPage.title +'</td>';
	            		demo_data += '<td>'+ valuelistPage.content +'</td>';
	            		demo_data += '<td> <button type="button" data-toggle="modal"'
								+'data-target="#addModalCenter" class="btn btn-success ml-3">Add</button>'
							+'<button type="button" data-toggle="modal"'
								+'data-target="#editModalCenter" class="btn btn-primary ml-2 edit" data-id="'+valuelistPage.id+'">Edit</button>'
							+'<button type="button" data-toggle="modal"'
								+'data-target="#deleteModalCenter" class="btn btn-danger ml-2 delete" data-id="'+valuelistPage.id+'">Delete</button>'
						+'</td>';
						demo_data += '</tr>';
	            		$('#demo_tbody').append(demo_data);
	            	});
	            }
	        });
		})
</script>
